defmodule Aoc.Y<%= @year %>.D<%= @day %> do
  use Aoc.Runner, inspect: true

  import Aoc.Util

  def part1(input) do
    :ok
  end

  def part2(input) do
    :ok
  end

  def helper(input) do
    input |> parse_lines()
  end
end
