defmodule AocTest.Y<%= @year %>.D<%= @day %> do
  use ExUnit.Case, async: true

  alias Aoc.Y<%= @year %>.D<%= @day %>, as: Solver

  @example """
  """

  describe "Example case" do
    test "part 1" do
      assert Solver.part1(@example) == :ok
    end

    test "part 2" do
      assert Solver.part2(@example) == :ok
    end
  end
end
